.home {
    img {
        width: 70%;
        height: 70%;
    }
}
.addingUpToTen {
    img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }
    .input {
        width: 50px;
    }
}