.home {
    img {
        width: 70%;
        height: 70%;
    }
}
.addingUpToTen {
    img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }
    .exercise{
        margin-bottom: 5px;
        vertical-align: middle;
    }
    .input {
        width: 80px;
        height: 30px;
    }
}

button{
    margin-right: 15px;
    margin-top: 15px;
}

